/* Styled checkbox */
.check-box {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-right: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 30;
    width: 100;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .check-box:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .check-box input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .check-box input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .check-box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  select{
    overflow: hidden
  }
  .select2-selection--single {
    padding-bottom: 30px !important;
  }
  .select2-container{
    display: block!important;
  }
  nav{
    width: 200px;
    max-width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  @media only screen and (min-width: 768px) {
      .mobile-nav{
        display: none;
      }
      .main{
        padding-left: 200px;
      }
  }
  @media only screen and (max-width: 768px) {
    .mobile-nav{
        display: block;
    }
    nav{
        margin-left: -200px;
        margin-top: 48px;
        padding-top: 20px;
        z-index: 100;
    }
    .main{
        padding: 0px;
        padding-top: 48px;
    }
    .logo{
        display: none;
    }
  }
  img{
    height: 100%;
    width: 100%;
  }
  .logo{
    height: 70px;
    width: 100px;
  }
body, label, form, div, p{
    font-family: 'Josefin Sans', sans-serif !important;

}
html, body{
    height:100%;
}