{% extends 'bootstrap/base.html' %}

{% block title %}
World of Music
{% endblock %}



{% block body %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap" rel="stylesheet">
<div class="d-flex">
<div class="mobile-nav nav-toggler position-fixed p-2 w-100 bg-primary">
    <i class="fa fa-bars p-2 text-white" id="toggle-nav-btn"></i>

    <a href=""><img src="../static/Logo.png" height="30" width="40" alt="WoM" class="float-right mr-2"></a>

</div>
<nav class="nav navbar-dark  flex-column bg-primary " id="nav">


    <ul class="navbar-nav " >

        <li>
            <a href=""><img src="../static/Logo.png" alt="WoM" class="logo m-3 mb-4"></a>
        </li>
        <li class="nav-item Home">
            <a class="nav-link h5 mx-3" href="/dashboard">Home</a>
        </li>
        <li class="nav-item Enrollment">
            <a class="nav-link h5 mx-3" href="/enrollment?type=student">Enrollment</a>
        </li>
        <li class="nav-item Payment">
            <a class="nav-link h5 mx-3" href="/payment">Payment</a>
        </li>
        <li class="nav-item Inventory">
            <a class="nav-link h5 mx-3" href="/inventory">Inventory</a>
        </li>
        <li class="nav-item Daily-Transactions">
            <a class="nav-link h5 mx-3" href="/dailyTransactions">Daily Transactions</a>
        </li>

        <li class="nav-item Studio-Sessions">
            <a class="nav-link h5 mx-3" href="/studioSessions">Studio Sessions</a>
        </li>
        <li class="nav-item Students">
            <a class="nav-link h5 mx-3" href="/students">Students</a>
        </li>
        <li class="nav-item LessonPlan">
            <a class="nav-link h5 mx-3" href="/lessonPlan">Lesson Plan</a>
        </li>
        <li class="nav-item Leads">
            <a class="nav-link h5 mx-3" href="/leads">Leads</a>
        </li>
        <li class="nav-item Users">
            <a class="nav-link h5 mx-3" href="/users">Users</a>
        </li>
        <li class="nav-item Slots">
            <a class="nav-link h5 mx-3 " href="/slots">Slots</a>
        </li>
        <li class="float-right">
            <a class="nav-link h5 mx-3" href="/logout">Log out</a>
        </li>
    </ul>
</nav>


{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}} text-center mx-2">{{ message }}</div>
    {% endfor %}

  {% endif %}
{% endwith %}
{% endblock %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--Script to make nav item active-->
<script>
    window.onload = function(){
        let tab = document.getElementById("tab").innerHTML;
        let item = document.getElementsByClassName(tab)[0];
        item.classList.add("active")

    }
    var navbarOpen = false;
    document.getElementById("toggle-nav-btn").onclick = function(){
        let nav = document.getElementById("nav");
        if(navbarOpen){
            nav.style.marginLeft = "-200px";
            navbarOpen = false;
        }
        else{
            nav.style.marginLeft = "0px";
            navbarOpen = true;
        }

    }
    document.onclick = function(e){
        if (e.pageX>200 && navbarOpen){
            nav.style.marginLeft = "-200px";
            navbarOpen = false;
        }
    }
</script>
{% endblock %}
</div>


