{% extends 'admin_layout.html' %}

{% block title %}
World of Music | Daily Transactions
{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../static/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://momentjs.com/downloads/moment.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{{ super() }}


{% endblock %}

{% block content %}
<div id="tab" class="d-none ">Daily-Transactions</div>
<div class="w-100 d-flex flex-column main">
    <div class=' d-flex justify-content-start bg-light'>
        <div class="my-4 container-fluid mx-3">
            <h1>World of Music</h1>
            <h4>Transactions</h4>
        </div>
    </div>
    {{ super() }}
    <div class="container my-4">
        <h4>Today: <label class="ml-3">{{date}}</label></h4>
        <div class="my-2">
            <p>Choose another date</p>
        <div class="input-group date col-md-6" id="datetimepicker3" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input"
                   data-target="#datetimepicker3" name="date" id="newDate" value="{{date}}"/>
            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
            <button class="btn btn-primary ml-2" id="getAnotherDay">Submit</button>
        </div>
            </div>
        <div class="bg-light my-4 p-3 rounded col-md-12">
            <h5>Cash Inflow: <label class="text-success">
                ₹ {{
                dailySales['inventory_sales']+dailySales['fee_payment']+dailySales['enrollment'] }}</label></h5>
            <div class="py-2">

                <h6>Enrollments: <label class="text-primary">
                    ₹ {{
                    dailySales['enrollment']}}</label></h6>
                <h6>Inventroy sales: <label class="text-primary">
                    ₹ {{
                    dailySales['inventory_sales']}}</label></h6>
                <h6>Fee payment: <label class="text-primary">
                    ₹ {{
                    dailySales['fee_payment']}}</label></h6>
            </div>
        </div>
    </div>
</div>

<script src="../static/daily_transactions.js"></script>
{% endblock %}
