{% extends 'admin_layout.html' %}

{% block title %}
World of Music | Dashboard
{% endblock %}


{% block content %}

<div id="tab" hidden>Students</div>

<div class="w-100 d-flex flex-column main">
    <div class=' d-flex justify-content-start bg-light'>
        <div class="my-4 container-fluid mx-3">
            <h1>World of Music</h1>
            <h4>{{data['name']}} | Dashboard</h4>
        </div>
    </div>
    {{ super() }}

    <div class="container-fluid my-4">
        <div class="col-md-8 bg-light rounded p-2">
            <div class="mb-2 d-flex justify-content-end">
                <a href="edit_student?id={{data['id']}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Student Full Name:</p>
                </div>
                <div class="col-6">
                    <p>{{data['name']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Gender:</p>
                </div>
                <div class="col-6">
                    <p>{{data['gender']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Enrollment type:</p>
                </div>
                <div class="col-6">
                    <p>{{data['type']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Instrument:</p>
                </div>
                <div class="col-6">
                    <p>{{data['instrument']}}</p>
                </div>
            </div>

            <div class="row ">
                <div class="col-6">
                    <p>Course:</p>
                </div>
                <div class="col-6">
                    <p>{{data['course']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Joining date:</p>
                </div>
                <div class="col-6">
                    <p>{{data['joining_date']}}</p>
                </div>
            </div>
            {% if data['type']=="Student" %}
            <div class="row ">
                <div class="col-6">
                    <p>Father Name:</p>
                </div>
                <div class="col-6">
                    <p>{{data['father_name']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Father Phone:</p>
                </div>
                <div class="col-6">
                    <p>{{data['father_phone']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Father Email:</p>
                </div>
                <div class="col-6">
                    <p>{{data['father_email']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Father Occupation:</p>
                </div>
                <div class="col-6">
                    <p>{{data['father_occupation']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Mother Name:</p>
                </div>
                <div class="col-6">
                    <p>{{data['mother_name']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Mother Phone:</p>
                </div>
                <div class="col-6">
                    <p>{{data['mother_phone']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Mother Email:</p>
                </div>
                <div class="col-6">
                    <p>{{data['mother_email']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Mother Occupation:</p>
                </div>
                <div class="col-6">
                    <p>{{data['mother_occupation']}}</p>
                </div>
            </div>
            {% else %}
            <div class="row ">
                <div class="col-6">
                    <p>Phone:</p>
                </div>
                <div class="col-6">
                    <p>{{data['phone']}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <p>Email:</p>
                </div>
                <div class="col-6">
                    <p>{{data['email']}}</p>
                </div>
            </div>

            {% endif %}


        </div>
    </div>
</div>

{% endblock %}
